.webcamcomponent-btn {
    position: absolute;
    bottom: 16px;
    left: calc((752px / 2) - (98px / 2));
    z-index: 1;

    outline: none;
    border: none;
    color: var(--primary-color-light);
    background-color: transparent;
}

.webcamcomponent-btn:hover {
    cursor: pointer;
}

.webcamcomponent-btn-text {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 98px;
    height: 36px;
    font-size: var(--h2-size);
    font-weight: var(--h2-weight);
}

.webcamcomponent-border-top_left, 
.webcamcomponent-border-top_right, 
.webcamcomponent-border-bottom_left, 
.webcamcomponent-border-bottom_right {
    position: absolute;
    width: 8px;
    height: 8px;
}

.webcamcomponent-border-top_left {
    top: 0;
    left: 0;
    border-top: solid 2px var(--primary-color-dark);
    border-left: solid 2px var(--primary-color-dark);
}

.webcamcomponent-border-top_right {
    top: 0;
    right: 0;
    border-top: solid 2px var(--primary-color-dark);
    border-right: solid 2px var(--primary-color-dark);
}

.webcamcomponent-border-bottom_left {
    bottom: 0;
    left: 0;
    border-bottom: solid 2px var(--primary-color-dark);
    border-left: solid 2px var(--primary-color-dark);
}

.webcamcomponent-border-bottom_right {
    bottom: 0;
    right: 0;
    border-bottom: solid 2px var(--primary-color-dark);
    border-right: solid 2px var(--primary-color-dark);
}