.inputsection-container {
    display: flex;
    gap: 16px;
}

.inputsection-left {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.inputsection-screen {
    position: relative;
    width: 800px;
    height: 500px;
}

.inputsection-screen-webcam {
    outline: solid 2px var(--primary-color-dark);
}

.inputsection-screen-image {
    outline: dashed 2px var(--primary-color-dark);
}